@media screen and (max-width:1250px){
    /* Header */
    .container{
        max-width: none;
        width: 1100px;
    }
    .now__palying__container .movie__now__box__wrapper {
        transition: all .6s linear;
    }
    .now__palying__container .now__palying .movie__now {
        min-width: 200px;
    }

    /* Random */
    .information.tariler_container .movie__from .movie__inform .movie__inform__box .movie__inform__geners, .tariler_container.random .movie__from .movie__inform .movie__inform__box .movie__inform__geners{
        width: 200px;
    }

    /* News */
    .news__container .news__top {
        display: block;
    }
    .news__container .last__news {
        width: 80%;
        margin: 0 auto;
    }
    .news__container .last__news .menu__item {
        justify-content: space-around;
    }
    .menu__item img {
        height: 163px;
        width: 122px;
    }
    .news__container .last__news .header span{
        font-size: 34px
    }
    .last__news .header a {
        font-size: 28px;
    }
    .description a {
        font-size: 22px;
    }
    .news__container .last__news .menu__item .description{
        margin-left: 0;
        width: 250px;
    }
    .news__container .midle__news {
        width: 80%;
        margin: 0 auto;
        a {
            font-size: 26px;
            line-height: 26px;
        }
    }
    .news__container .midle__news .header .title {
        font-size: 34px;
    }
    .news__container .midle__news .header a{
        font-size: 28px;
    }
    .news__container .midle__news .photo {
        margin-top: 20px;
    }
    .news__container .midle__news .photo img{
        height: 163px;
        width: 122px;
    }
    .news__container .wallpapers {
        width: 80%;
        margin: 0 auto;
    }
    .news__container .wallpapers {
        margin-top: 30px;
    }
    .news__container .wallpapers .header .title {
        font-size: 38px;
    }
    .news__container .wallpapers .wallpapers_items .wallpapers_item {
        height: 300px;
        text-align: center;
    }
    .news__container .wallpapers .wallpapers_items .wallpapers_item span {
        font-size: 60px;
    }
    .news__container .wallpapers .wallpapers_items .wallpapers_item img {
        height: 100%;
        width: 80%;
    }
    .news__container .wallpapers .wallpapers_items .wallpapers_item span {
        left: 90px;
    }
    .footer .footer__wrapper .share .share__btn {
        display: block;
    }
    .footer .title {
        font-size: 30px;
    }
    .footer .footer__wrapper .gallery {
        display: none;
    }
    .footer .footer__wrapper .follow {
        width: 18%;
    }
    .footer .footer__wrapper .footer__menu {
        display: none;
    }
    .footer {
        height: 200px;
    }
    .footer .footer__wrapper .share {
        width: 50%;
    }
    .footer .footer__wrapper .follow {
        width: 50%;
    }
}
@media screen and (max-width:1000px){
    /* Header */
    .container{
        width: 894px;
    }
    .topnav {
        display: block;
    }
    .now__palying__container .now__palying .movie__now {
        min-width: 278px;
    }

    /* Random */
    .trailer__window {
        display: none;
    }
    .random__btn{
        display: none;
    }
    .information.tariler_container .movie__from, .tariler_container.random .movie__from{
        width: 46%;
    }
    .information.tariler_container .movie__from .movie__inform .movie__inform__box, .tariler_container.random .movie__from .movie__inform .movie__inform__box{
        width: 50%;
    }
    .information.tariler_container .movie__from .movie__inform .movie__inform__box .movie__inform__geners, .tariler_container.random .movie__from .movie__inform .movie__inform__box .movie__inform__geners{
        width: 240%;
        margin: 0;
    }
    .information.tariler_container .movie__from .movie__inform .movie__inform__box .movie__inform__geners .inf__stat, .tariler_container.random .movie__from .movie__inform .movie__inform__box .movie__inform__geners .inf__stat{
        font-size: 24px;
    }
    .information.tariler_container .movie__from .movie__inform img, .tariler_container.random .movie__from .movie__inform img{
        height: 340px;
        margin-left: 25px;
        margin-right: 10px;
    }
    .information.tariler_container, .tariler_container.random{
        height: 1000px;
    }
    .trailer__window__mob {
        .line {
            height: 100%;
            width: 35px;
            background-color: #EA4737;
        }
        display: block !important;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 380px;
        background-color: black;
        background-image: url(../img/trailer.png);
    }
    .ratings .raitings__wrapper .random {
        display: none;
    }
    .ratings .raitings__wrapper .top, .ratings .raitings__wrapper .weekend {
        width: 45%;
    }
    .ratings .raitings__wrapper .top .ratings__items .ratings__item .raitings__img img {
        width: 100px;
    }
    .ratings .raitings__wrapper .top .ratings__items .ratings__item .raitings__img .title {
        font-size: 30px;
        padding-top: 35px;
        margin-right: 10px;
    }
    .ratings .raitings__wrapper .top .ratings__items .ratings__item span {
        padding-top: 40px;
        font-size: 30px;
        float: right;
    }
    .ratings .raitings__wrapper .top .ratings__items .ratings__item .raitings__img span {
        font-size: 38px;
        padding-top: 60px;
    }
    .ratings .raitings__wrapper .weekend .weekend__wrapper .weekend__items .weekend__item .weekend__img img{
        width: 102px;
    }
    .ratings .raitings__wrapper .top .header .title {
        font-size: 39px;
        margin-bottom: 15px;
    }
    .ratings .raitings__wrapper .top .header a {
        padding-top: 5px;
        font-size: 30px;
    }
    .ratings .raitings__wrapper .weekend .weekend__wrapper .header .title {
        font-size: 34px;
        line-height: 21px;
        padding-bottom: 30px;
    }
    .ratings .raitings__wrapper .weekend .weekend__wrapper .header a {
        margin-top: -3px;
        padding-top: 0px;
        font-size: 30px;
    }
    .information.tariler_container .movie__description, .tariler_container.random .movie__description {
        min-height: 240px;
    }
    .information.tariler_container .information__wrapper, .tariler_container.random .information__wrapper {
     height: 40%;
    }
}
@media screen and (max-width:900px){
    .header__hight .header__menu .header__menu__inner {
        width: 370px;
    }
    .header__hight {
        margin-top: 0;
    }
    .container{
        width: 800px;
    }
    .now__palying__container .now__palying .movie__now {
        min-width: 245px;
    }
    .footer .footer__bottom {
        background-color: white;
    }
    
}
@media screen and (max-width:800px){
    .container{
        width: 700px;
    }
    .now__palying__container,
    .now__palying__container .now__palying,
    .now__palying__container .now__palying .movie__now__label,
    .now__palying__container .movie__now__box,
    .now__palying__container .now__palying .movie__now {
        height: 550px;
    }
    
    .now__palying__container .now__palying .movie__now {
        min-width: 320px;
    }
    .information.tariler_container .movie__from .movie__inform .movie__inform__box .movie__inform__geners .inf__stat, .tariler_container.random .movie__from .movie__inform .movie__inform__box .movie__inform__geners .inf__stat{
        font-size: 18px;
    }
    .information.tariler_container .movie__from .movie__inform .movie__inform__box .movie__inform__geners .title, .tariler_container.random .movie__from .movie__inform .movie__inform__box .movie__inform__geners .title{
        margin-bottom: 25px;
    }
    .news__container .midle__news {
        width: 95%;
    }
    .news__container .midle__news .photo img {
        height: 160px;
        width: 109px;
    }
    .news__container .wallpapers {
        width: 95%;
    }
    .footer {
        height: 250px;
    }
    .footer .footer__wrapper {
        height: 100%;
    }
    .information.tariler_container .information__wrapper, .tariler_container.random .information__wrapper {
        display: flex;
        height: 38%;
    }
    .information.tariler_container .trailer__side, .tariler_container.random .trailer__side {
        top: 14%;
    }
    .news__container .wallpapers .wallpapers_items .wallpapers_item img {
        width: 100%;
    }
    .ratings .raitings__wrapper .top .ratings__items .ratings__item .raitings__img .title {
        font-size: 25px;
        padding-top: 35px;
        margin-right: 10px;
    }
    .ratings .raitings__wrapper .weekend .weekend__wrapper .weekend__items .weekend__item .weekend__img .title {
        margin-right: 20px;
    }
    .ratings .raitings__wrapper .weekend .weekend__wrapper .weekend__items .weekend__item span {
        padding-top: 55px;
    }
}
@media screen and (max-width:700px){
    .accaunt__panel {
        display: none;
    }
    .container{
        width: 690px;
    }
    .now__palying__container .now__palying .movie__now {
        min-width: 295px;
    }
    .ratings .raitings__wrapper .top .ratings__items .ratings__item .raitings__img .title {
        font-size: 26px;
    }
    .ratings .raitings__wrapper .top .ratings__items .ratings__item .raitings__img img {
        width: 110px;
    }
    .ratings .raitings__wrapper .weekend .weekend__wrapper .weekend__items .weekend__item .weekend__img img {
        width: 78px;
    }
    .ratings .raitings__wrapper .weekend .weekend__wrapper .weekend__items .weekend__item .weekend__img .title {
        font-size: 26px;
    }
    .ratings .raitings__wrapper .weekend .weekend__wrapper .header .title {
        font-size: 26px;
    }
    .ratings .raitings__wrapper .top .header .title {
        font-size: 26px;
    }
    .ratings .raitings__wrapper .top .header a {
        padding-top: 0px;
        font-size: 25px;
    }
    .ratings .raitings__wrapper .weekend .weekend__wrapper .header a {
        padding-top: 0px;
        font-size: 25px;
    }
    .information.tariler_container .movie__from .movie__inform .movie__inform__box .movie__inform__geners, .tariler_container.random .movie__from .movie__inform .movie__inform__box .movie__inform__geners {
        padding-right: 10px;
    }
    .ratings .raitings__wrapper .top .ratings__items .ratings__item .raitings__img img {
        width: 79px;
    }
    .ratings .raitings__wrapper .top .ratings__items .ratings__item .raitings__img span {
        font-size: 27px;
        padding-top: 49px;
    }
    .ratings .raitings__wrapper .weekend .weekend__wrapper .weekend__items .weekend__item span {
            padding-top: 18px
    }
}

.overlay {
    @media screen and (max-width: 1600px) {
        .information.tariler_container .movie__from .movie__inform .movie__inform__box .movie__inform__geners, .tariler_container.random .movie__from .movie__inform .movie__inform__box .movie__inform__geners {
            width: 82%;
        }
        .information.tariler_container .movie__from .movie__inform img, .tariler_container.random .movie__from .movie__inform img {
            height: 94%;
        }
        .information.tariler_container .movie__from .movie__inform .movie__inform__box .movie__inform__geners .inf__stat, .tariler_container.random .movie__from .movie__inform .movie__inform__box .movie__inform__geners .inf__stat {
            margin-bottom: 8px;
        }
        .information.tariler_container .trailers, .tariler_container.random .trailers {
            height: 106%;
        }
    }

    @media screen and (max-width: 1250px) {
       
        .information.tariler_container .trailer__window, .tariler_container.random .trailer__window {
            display: none;
        }
        #trailer__window_play {
            display: block !important;
            height: 480px;
            width: 100%;
            margin-top: 0;
        }
        .information.tariler_container, .tariler_container.random {
            height: 500px;
        }
        .information.tariler_container .information__wrapper, .tariler_container.random .information__wrapper {
            height: 100%;
        }
        .information.tariler_container .movie__from, .tariler_container.random .movie__from {
            width: 100%;
        }
        .information.tariler_container .movie__from, .tariler_container.random .movie__from {
            justify-content: space-between;
        }
        .information.tariler_container .movie__from .movie__inform .movie__inform__box .movie__inform__geners, .tariler_container.random .movie__from .movie__inform .movie__inform__box .movie__inform__geners {
            width: 590px;
        }
        .information.tariler_container .movie__from .movie__inform .movie__inform__box .movie__inform__geners .inf__stat, .tariler_container.random .movie__from .movie__inform .movie__inform__box .movie__inform__geners .inf__stat {
            font-size: 32px;
            margin-bottom: 39px;
        }
        .information.tariler_container .movie__from .movie__inform img, .tariler_container.random .movie__from .movie__inform img {
            height: 95%;
        }
        .overlay .information.tariler_container .movie__from .movie__inform .movie__inform__box .movie__inform__geners, .overlay .tariler_container.random .movie__from .movie__inform .movie__inform__box .movie__inform__geners {
            width: 510px;
        }
        .overlay .information.tariler_container .movie__from .movie__inform .movie__inform__box .movie__inform__geners .inf__stat, .overlay .tariler_container.random .movie__from .movie__inform .movie__inform__box .movie__inform__geners .inf__stat {
            font-size: 28px;
            margin-bottom: 27px;
        }
        .overlay .information.tariler_container .movie__from .movie__inform .movie__inform__box .movie__inform__geners .title, .overlay .tariler_container.random .movie__from .movie__inform .movie__inform__box .movie__inform__geners .title {
            margin-bottom: 50px;
        }
    }
    @media screen and (max-width: 1000px) {

            .information.tariler_container .movie__from .movie__inform .movie__inform__box, .tariler_container.random .movie__from .movie__inform .movie__inform__box {
                width: 60%;
            }
            .information.tariler_container .movie__from .movie__inform .movie__inform__box .movie__inform__geners, .overlay .tariler_container.random .movie__from .movie__inform .movie__inform__box .movie__inform__geners  {
                width: 100%;
            }
        }
    @media screen and (max-width: 900px) {
            .information.tariler_container .movie__from .movie__inform .movie__inform__box, .tariler_container.random .movie__from .movie__inform .movie__inform__box {
                width: 60%;
            }
            .information.tariler_container .movie__from .movie__inform .movie__inform__box .movie__inform__geners, .overlay .tariler_container.random .movie__from .movie__inform .movie__inform__box .movie__inform__geners  {
                width: 100%;
            }
        }
    @media screen and (max-width: 800px) {

            .information.tariler_container .movie__from .movie__inform .movie__inform__box, .tariler_container.random .movie__from .movie__inform .movie__inform__box {
                width: 60%;
            }
            .information.tariler_container .movie__from .movie__inform .movie__inform__box .movie__inform__geners, .overlay .tariler_container.random .movie__from .movie__inform .movie__inform__box .movie__inform__geners  {
                width: 100%;
            }
            .information.tariler_container .movie__from .movie__inform img, .overlay .tariler_container.random .movie__from .movie__inform img{
                height: 85%;
            }
            .information.tariler_container .movie__from .movie__inform .movie__inform__box .movie__inform__geners .inf__stat, .overlay .tariler_container.random .movie__from .movie__inform .movie__inform__box .movie__inform__geners .inf__stat{
                font-size: 25px;
            }
            .overlay .information.tariler_container, .overlay .tariler_container.random {
                height: 534px;
            }
        }
    @media screen and (max-width: 700px) {

        .information.tariler_container .movie__from .movie__inform .movie__inform__box .movie__inform__geners .title, .tariler_container.random .movie__from .movie__inform .movie__inform__box .movie__inform__geners .title {
            margin-bottom: 50px;
        }
    }
       
}
